@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import "shared.css";

.wrapper {

    background: url("../BBQ-DzmitryKhokha/img/tomahawk.jpg") no-repeat;
    background-size: cover;
}

.content {
    max-width: 30rem;
    margin: 4em 3em;
    padding: 2em;
    border-radius: 1em;
    color: #BFA6A2;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.content .info h2 {
    color: #F3EED9;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.content .info h2 span {
    color: #FFF5F1;
    font-size: 0.5em;
    font-weight: 600;
}

.content .info p {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 5em;
}

.content .info-button {
    color: #F3EED9;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    border-radius: 0.2em;
    text-overflow: ellipsis;
    transition: 0.3s;
    transition-property: background;
    box-shadow:
            0 0.25em 0.4em rgba(50, 50, 93, .11),
            0 0.1em 0.25em rgba(0, 0, 0, .08);
}

.content .info-button:hover {
    background: #BF433B;
}

.media-icons {
    padding-top: 2em;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
}

.fa-facebook-f:hover {
    color: #204BDE;
}

.fa-twitter:hover {
    color: #4BCBF8;
}

.fa-instagram:hover {
    color: #325266;
}

.fa-youtube:hover {
    color: #D61010;
}

.media-icons a {
    position: relative;
    color: #F3EED9;
    font-size: 1.5em;
    padding-right: 1em;
    transform: translateY(0);
    will-change: transform;
    transition: transform 0.2s .15s ease;
}

a i:hover {
    transform: translateY(-0.15em);
}

@media (max-width: 960px) {

    .main-nav li {
        width: 12em;
    }

    .main-nav a {
        font-size: 1em;
        font-weight: 700;
        height: 2em;
        letter-spacing: 0.2em;
        margin-right: 1em;
        padding: 0.5em 2em;
        border-radius: 0.8em;
    }

    .main-header .main-nav {
        display: none;
    }

    .main-nav li:hover > ul {
        display: none;
    }


    label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        transition: 0.3s;
    }

    label:hover {
        color: #89726E;
    }

    label .close-btn {
        display: none;
    }

    #check:checked ~ .main-header .main-nav {
        z-index: 2;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ .main-header .main-nav a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 3em;
        letter-spacing: 0.2em;
        color: #BFA6A2;
    }

    #check:checked ~ .main-header .main-nav a:hover {
        color: #57423f;
    }

    #check:checked ~ .main-header label .menu-btn {
        display: none;
    }

    #check:checked ~ .main-header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    .main-header .logo {
        position: absolute;
    }

    .content {
        max-width: 40em;
    }

    .info {
        text-align: center;
    }

    .content .info h2 {
        font-size: 2.5em;
        line-height: 0.8em;
        text-align: center;
    }

    .content .info h2 span {
        font-size: 0.5em;
        font-weight: 600;
    }

    .content .info p {
        font-size: 0.9em;
        text-indent: 1em;
        text-shadow: #3b3b3b 1px 1px 6px;
        color: #F3EED9;
    }

    .content .info-button {
        margin: auto;
        width: 80%;

        font-weight: 600;
    }

    .media-icons {
        margin: auto;
        padding-top: 3em;
        width: 10em;
    }

    .media-icons a {
        padding: 0 0.3em;
    }
}

@media (max-width: 560px) {
    .content .info h2 {
        font-size: 2em;
        line-height: 1.1em;
    }

    .content .info h2 span {
        font-size: 0.8em;
        font-weight: 600;
    }

    .content .info p {
        font-size: 0.9em;
    }
}
