@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import "shared.css";
@import "Fonts";

.wrapper {
    /*background-image: linear-gradient(to bottom, #2e2423, #2b2221, #281f1e, #261d1c, #231b1a);*/
    background-image: url("/img/tomahawk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    font-size: 1rem;
    max-width: 40%;
    margin: 6rem 2rem;
    padding: 2rem;
    background: rgba(39, 30, 29, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    color: #ab9692;
}
.content__info h2 {
    color: #504240;
    font-size: 2.5em;
    font-family: Mosk, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.content__info h2 span {
    color: #FFF5F1;
    font-size: 0.6em;
    font-weight: 600;
}
.content__info p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.content__info-button {
    color: #F3EED9;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    text-overflow: ellipsis;
    transition: 0.3s;
    transition-property: background;
    box-shadow:
            0 0.25em 0.4em rgba(50, 50, 93, .11),
            0 0.1em 0.25em rgba(0, 0, 0, .08);
}
.content__info-button:hover {
    background: #BF433B;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 0;
    z-index: 50;
    font-size: 0.8rem;
}
.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 30, 29, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    z-index: 2;
}

.footer__media-icons {
    margin-top: 0.8em;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.footer__media-icons a {
    margin: 0 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    color: rgba(243,238,217);
    overflow: hidden;
    font-size: 1.5em;
    transition: 0.2s ease-in;
    z-index: 3;
}
.footer__media-icons a:hover {
    color: #a19492;
    transform: scale(1.2);
}

@media (max-width: 850px) {
    .header__body {
        height: 70px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 1em;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after,
    .header__burger span {
        content: '';
        background-color: #F3EED9;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger span {
        top: 9px;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.9);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        padding-top: 3em;
        text-align: center;
    }
    .header__list li {
        margin: 0 0 20px 0;
    }
    .header__link {
        font-size: 0.8em;
    }
    .content {
        max-width: 80%;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    .content__info h2 {
        font-size: 2em;
        line-height: 0.8em;
        text-align: center;
        font-weight: 900;
        letter-spacing: 0.06em;
        margin-bottom: 0.5em;
    }
    .content__info h2 span {
        color: #fdf7f5;
        font-size: 0.5em;
        line-height: 0.8em;
    }
    .content__info p {
        font-size: 0.8em;
        font-weight: 300;
        margin-bottom: 2rem;
        color: #cccccc;
    }
    .content__info-button {
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding: 0.8rem;
        border-radius: 0.2rem;
        text-overflow: ellipsis;
        transition: 0.3s;
        transition-property: background;
        box-shadow:
                0 0.25em 0.4em rgba(50, 50, 93, .11),
                0 0.1em 0.25em rgba(0, 0, 0, .08);
    }
}

@media (max-width: 560px) {
    .content {
        max-width: 900%;
        margin: 6rem 1rem;
    }
}
